p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about-me {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    border-top: 2px solid #ececec;
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .about-me {
        padding: 30px;
    }

    .about-me h2 {
        font-size: 1.5em;
    }

    .about-me p {
        font-size: 1em;
    }
}

.career {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: left;
    border-top: 2px solid #ececec;
}

.career-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.career h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.career h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.career ul {
    list-style-type: none;
    padding: 0;
}

.career li {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .career {
        padding: 30px;
    }

    .career h2 {
        font-size: 1.5em;
    }

    .career h3 {
        font-size: 1.2em;
    }

    .career li {
        font-size: 1em;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hobby {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hobby img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.hobby-description {
    max-width: 600px;
}

.hobby-description h2 {
    margin: 0 0 10px;
    color: #444;
}