{% extends "base.html" %}

{% block content %}
<section id="about-me" class="about-me">
    <h2>About Me</h2>
    <p>{{ about_me }}</p>
</section>

<section id="career" class="career">
    <h2>Career</h2>
    <div class="career-container">
        <div id="work-experiences" class="work-experiences">
            <h3>Previous Work Experiences</h3>
            <ul>
                {% for experience in work_experiences %}
                <li><i class="fas fa-briefcase"></i> {{ experience.role }} ({{ experience.duration }})</li>
                {% endfor %}
            </ul>
        </div>
        <div id="education" class="education">
            <h3>Education</h3>
            <ul>
                {% for edu in education %}
                <li><i class="fas fa-graduation-cap"></i> {{ edu.degree }} ({{ edu.duration }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
