<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <title>{{ title }}</title>

  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/profile.jpeg" />
      </div>
      <h1>{{ title }}</h1>
      <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Me</a></li>
            <li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
            <li><a href="{{ url_for('places') }}">Visited Countries</a></li>
            <!-- Add more links as needed -->
        </ul>
    </nav>
    </div>

    <section id="about-me" class="about-me">
      <h2>About Me</h2>
      <p>{{ about_me }}</p>
    </section>

    <section id="career" class="career">
      <h2>Career</h2>
      <div class="career-container">
        <div id="work-experiences" class="work-experiences">
          <h3>Previous Work Experiences</h3>
          <ul>
            <li><i class="fas fa-briefcase"></i> {{ work_experience_1 }}</li>
            <li><i class="fas fa-briefcase"></i> {{ work_experience_2 }}</li>
            <li><i class="fas fa-briefcase"></i> {{ work_experience_3 }}</li>
          </ul>
        </div>

        <div id="education" class="education">
          <h3>Education</h3>
          <ul>
            <li><i class="fas fa-graduation-cap"></i> {{ education_1 }}</li>
            <li><i class="fas fa-graduation-cap"></i> {{ education_2 }}</li>
          </ul>
        </div>
      </div>
    </section>

    <div class="container">
        <section id="hobbies">
            <h1>My Hobbies</h1>
            <div class="hobby">
                <img src="./static/img/drums.jpg" alt="Hobby 1">
                <div class="hobby-description">
                    <h2>{{ hobby_1 }}</h2>
                </div>
            </div>
            <div class="hobby">
                <img src="./static/img/hiking.jpg" alt="Hobby 2">
                <div class="hobby-description">
                    <h2>{{ hobby_2 }}</h2>
                </div>
            </div>
        </section>
    </div>

  </body>
</html>
